body{
    height:100px;
    padding-bottom:10px;
}
.nav-link:hover{
    text-decoration: underline;
    font-weight: bold;
}
.navbar-nav{
    padding-right: 10px;
}
.navbar{
    margin-top:20px ;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.image{
    width:100%;
}
.abc{
    background-image: url('https://cdn.pixabay.com/photo/2019/12/10/13/17/drone-view-4685852_1280.jpg');
    background-size: cover;
    height:650px;
}
.i1{
    height:50px;
    width:50px;
}
.home-container{
    background-color:light;
    height:200px;
    width:400px;
}
